body {
  font-family: "Montserrat", serif;
  margin: 0;
  padding: 0;
}

/* .top-bar */
.top-bar {
  height: 28px;
  background-image: linear-gradient(to right, #0796fe, #092a49);
  position: relative;
  color: #f1fbff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.time {
  padding: 5px 15px;
  margin-left: 3em;
  border-left: 1px solid #f1fbff;
  border-right: 1px solid #f1fbff;
}

.num {
  padding: 5px 15px;
  border-left: 1px solid #f1fbff;
  border-right: 1px solid #f1fbff;
}

.social {
  margin-left: auto; /* Use auto margin to push social icons to the right */
  padding: 5px 13px;
}

#instagram {
  padding: 5px 15px;
  border-left: 1px solid #f1fbff;
  border-right: 1px solid #f1fbff;
}

#facebook:hover,
#instagram:hover,
#linkedin:hover {
  color: rgb(81, 160, 239);
}

#facebook,
#linkedin {
  padding: 5px 15px;
  border-left: 1px solid #f1fbff;
}

/* .navbar */
.navbar {
  overflow: hidden;
  position: sticky;
  background-color: #092a49;
  width: 100%;
  top: 0;
  z-index: 5;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  padding-left: 2rem;
}

.navbar li a {
  text-decoration: none;
  color: white;
  float: right;
  padding: 20px;
}

nav ul li a:hover {
  color: rgb(131, 77, 246);
}

nav ul li a.active {
  color: #0796fe;
}

/* Media Queries for Responsiveness */
@media (max-width: 850px) {
  .top-bar {
    display: none; /* Hide the top bar */
  }

  .navbar li {
    text-align: center; /* Center align navbar items */
  }
}

/* Main section */
.main .about {
  display: flex;
  margin-top: 90px;
  margin-left: 250px;
}

.main .about .image .img1 img {
  height: 300px;
  width: 350px;
  border-radius: 20px;
}

.main .image .img2 img {
  height: 300px;
  width: 350px;
  position: relative;
  top: -200;
  left: 100;
  border-radius: 20px;
}

.main .about-section {
  margin-left: 120px;
  margin-right: 150px;
}

.main .about .about-section p::before {
  content: "";
  position: absolute;
  border-bottom: 20px solid;
  border-image: repeating-linear-gradient(60deg, rgba(248, 246, 246, 0.05), rgba(238, 236, 236, 0.05) 1.5%, rgba(161, 159, 159, 0.1) 1.5%, rgba(247, 245, 245, 0.1) 3%) 30;
  width: 222px;
  height: 0;
  top: 230px;

}

.main .vismis {
  text-align: center;
}

.main .vismis .btn button {
  padding: 15px;
  margin: 5px;
  font-size: 15px;
}

.main .vismis .btn button:hover {
  color: #ffffff;
  background-color: #0796fe;
}

.main .vision {
  display: flex;
  margin-left: 250px;
  margin-right: 150px;
  margin-bottom: 50px;
}

.main .vision img {
  width: 500px;
}

.main .vision .text h3:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background: #092a49;
  top: 950px;
  transition: all 0.7sease;
}

.main .vision .text h3::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background: #092a49;
  left: 250;
  top: 942px;
  transition: all 0.7sease;
}

.main .mission {
  display: flex;
  margin-left: 250px;
  margin-right: 150px;
  margin-bottom: 50px;
}

.main .mission .text h3:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background: #092a49;
  top: 1369px;
}

.main .mission .text h3::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background: #092a49;
  left: 750px;
  top: 1363px;
  transition: all 0.7sease;
}

.main .mission img {
  width: 500px;
}

.main .prop {
  display: flex;
  margin-left: 250px;
  margin-right: 150px;
}

.main .prop .text h3::before {
  content: "";
  position: absolute;
  border-bottom: 20px solid;
  border-image: repeating-linear-gradient(60deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 1.5%, rgba(0, 0, 0, 0.1) 1.5%, rgba(0, 0, 0, 0.1) 3%) 30;
  width: 150px;
  height: 0;
  top: 1760px;

}

.main .prop img {
  width: 400px;
  margin: 50px;
  left: 0;
  border: 30px solid;
  border-image: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 0.5%, rgba(0, 0, 0, 0.1) 0.5%, rgba(0, 0, 0, 0.1) 1%) 30;
}

/* footer-part */
.fab {
  margin-right: 15px;
  font-size: 18px;
  color: #eeeeee;
}

.container {
  display: flex;
  background: #092a49;
  color: #ffffff;
  padding-top: 80px;
}

.footer-contact {
  position: relative;
  width: 100%;
  padding: 0 15px; 
  padding-left: 255px; 
}

.footer-social i:hover {
  color: #0796fe;
}

.footer .container .footer-contact h2 {
  position: relative; 
}

.footer-contact p {
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
  line-height: 25px;
}

.footer .footer-contact p i {
  width: 25px;
  font-weight: 900;
  line-height: 1;
}

/* Media Query for Responsiveness */
@media (max-width: 950px) {
  .footer-contact {
    padding-left: 15px; 
  }

  .footer-contact h2::after {
    width: 50px; 
  }

  .container {
    flex-direction: column; 
    padding-top: 40px; 
  }
} 
.gap {
  position: relative;
  width: 10%;
  padding: 0 15px; 
}

.footer .container .footer-newsletter h2 {
  position: relative; 
}
 
.footer .footer-newsletter .btn {
  position: absolute;
  top: 8px;
  right: 10px;
  height: 44px;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 600;
  color: #092a49;
  background: none;
  border-radius: 2rem;
  border: 2px solid #092a49;
  transition: 0.3s;
}
.footer .footer-newsletter .btn:hover {
  background-color: #092a49;
  color: #9aacfb;
}

.footer-newsletter {
  margin-bottom: 20px;
  padding: 0 15px; 
  line-height: 25px;
  margin-right: 15%;
  margin-left: 10px;
}

.form {
  position: relative;
  width: 100%;
  display: block;
}

.footer input {
  height: 60px;
  border: 2px solid #1d2434;
  border-radius: 2rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ffffff;
}
/* Media Query for Responsiveness */
@media (max-width: 950px) {
  .footer .container {
    flex-direction: column; 
    padding: 20px 15px; 
  }

  .footer-newsletter {
    padding: 0; 
  }

  .footer .footer-newsletter .btn {
    top: 10px; 
 }
}
.copyright {
  display: flex;
  background: #092a49;
  color: #767272;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px; 
  border-top: 1px solid #203f4b;
}


.copyright a {
  color: #eeeeee;
  text-decoration: none;
}

.copyright {
  display: flex;
  justify-content: space-around;
  padding: 0 20px; 
}
@media (max-width: 700px) {
  .copyright {
    flex-direction: column; 
    align-items: center; 
    padding: 10px 0; 
  }
}

