body {
  font-family: "Montserrat", serif;
  margin: 0;
  padding: 0;
}

/* .top-bar */
.top-bar {
  height: 28px;
  background-image: linear-gradient(to right, #0796fe, #092a49);
  position: relative;
  color: #f1fbff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.time {
  padding: 5px 15px;
  margin-left: 3em;
  border-left: 1px solid #f1fbff;
  border-right: 1px solid #f1fbff;
}

.num {
  padding: 5px 15px;
  border-left: 1px solid #f1fbff;
  border-right: 1px solid #f1fbff;
}

.social {
  margin-left: auto;
  padding: 5px 13px;
}

#instagram {
  padding: 5px 15px;
  border-left: 1px solid #f1fbff;
  border-right: 1px solid #f1fbff;
}

#facebook:hover,
#instagram:hover,
#linkedin:hover {
  color: rgb(81, 160, 239);
}

#facebook,
#linkedin {
  padding: 5px 15px;
  border-left: 1px solid #f1fbff;
}

@media (max-width: 900px) {
  .top-bar {
    display: none;
  }
}

/* .navbar */
.navbar {
  overflow: hidden;
  position: sticky;
  background-color: #092a49;
  width: 100%;
  top: 0px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  padding-left: 2rem;
}

.navbar li a {
  text-decoration: none;
  color: white;
  float: right;
  padding: 20px;
}

nav ul li a:hover {
  color: rgb(131, 77, 246);
}

nav ul li a.active {
  color: #0796fe;
}

/* main-container */
.main-container .box {
  display: flex;
  margin-left: 10%;
  margin-top: 5vh;
  margin-bottom: 5vh;
  flex-wrap: wrap;
}

.main-container .box .boxes {
  padding-top: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  border: 1px solid white;
  padding-bottom: 0px;
  margin: 2%;
  text-align: center;
  width: 20%;
  height: auto;
  min-width: 150px;
  max-width: 250px;
}

.main-container .box .boxes:hover {
  border: 1px solid rgb(219, 212, 212);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
}

.main-container .our-feature {
  margin-left: 190px;
  margin-right: 150px;
  display: flex;
}

.main-container .our-feature .text .icons {
  display: flex;
}

.main-container .our-feature .text .icons .icon i {
  color: #0796fe;
  font-size: 17px;
}

.main-container .our-feature .text .icons .icon {
  padding-right: 10px;
}

.main-container .our-feature .text .icons .icon p {
  margin-left: 15px;
  margin-right: 15px;
  font-weight: 500;
}

.main-container .our-feature .text .icons .icon #user {
  padding-right: 10px;
}

.main-container .our-feature .text .icons .icon #users {
  padding-right: 10px;
}

.main-container .our-feature .text .icons .icon #check {
  padding-right: 10px;
}

.main-container .our-feature .text .icons .icon #running {
  padding-right: 10px;
}

.main-container .our-feature img {
  margin: 20px;
  height: 350px;
  z-index: 1;
  border: 30px solid;
  border-image: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 0.5%, rgba(0, 0, 0, 0.1) 0.5%, rgba(0, 0, 0, 0.1) 1%) 30;
}

.main-container .our-feature .text {
  width: 500px;
}

.main-container .our-feature .text p {
  line-height: 20px;
}

@media (max-width: 1100px) {
  .main-container .our-feature {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }

  .main-container .our-feature .text {
    width: 90%;
    justify-content: space-between;
  }

  .main-container .our-feature img {
    width: 80%;
    height: auto;
    max-height: 300px;
  }
}

.main-container .consult {
  margin-left: 210px;
  margin-top: 50px;
}

.main-container .consult .row {
  display: flex;
  margin: 20px;
  flex-wrap: wrap;
}

.main-container .consult .row .service {
  border: 1px solid rgb(219, 212, 212);
  padding-top: 15px;
  padding-bottom: 0px;
  margin: 10px;
  text-align: center;
  width: 250px;
  height: 300px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.main-container .consult .row .service .txt {
  padding: 15px;
}

.main-container .consult .row .service:hover {
  background-color: #ebf7ff;
  box-shadow: 0 0 30px rgba(74, 9, 9, 0.1);
  border: #ebf7ff;
}

@media (max-width: 768px) {
  .main-container .consult {
    margin-left: 25px;
  }

  .main-container .consult .row .service {
    width: 100%;
    margin: 10px 0;
  }
}

.main-container .view a {
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgb(147, 146, 146);
  color: rgb(84, 82, 82);
  border-radius: 5px;
  padding: 10px;
}

.main-container .view {
  margin-left: 210px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.main-container .view a:hover {
  background-color: #767272;
  color: #ebf7ff;
}

.main-container .client {
  margin-left: 210px;
  margin-right: 150px;
}

@media (max-width: 768px) {
  .main-container .client {
    margin: 25px;
    text-align: left;
  }
  .main-container .view{
    text-align: left;
    margin: 25px;
  }
}

.main-container .client .arrow {
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: #0796fe;
  margin: 20px 0;
}

.main-container .client .arrow i {
  margin: 0 20px;
}

.main-container .client .arrow i:hover {
  color: #1d2434;
  cursor: pointer;
}

.main-container .client .company {
  margin-left: 28px;
}

.main-container .client .company img {
  width: 115px;
  height: 115px;
  padding: 20px;
}

/* footer-part */
.fab {
  margin-right: 15px;
  font-size: 18px;
  color: #eeeeee;
}

.container {
  display: flex;
  background: #092a49;
  color: #ffffff;
  padding-top: 80px;
}

.footer-contact {
  position: relative;
  width: 100%;
  padding: 0 15px;
  padding-left: 255px;
}

.footer-social i:hover {
  color: #0796fe;
}

.footer .container .footer-contact h2 {
  position: relative;
}

.footer-contact p {
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
  line-height: 25px;
}

.footer .footer-contact p i {
  width: 25px;
  font-weight: 900;
  line-height: 1;
}

@media (max-width: 950px) {
  .footer-contact {
    padding-left: 15px;
  }

  .footer-contact h2::after {
    width: 50px;
  }

  .container {
    flex-direction: column;
    padding-top: 40px;
  }
}

.gap {
  position: relative;
  width: 10%;
  padding: 0 15px;
}

.footer .container .footer-newsletter h2 {
  position: relative;
}

.footer .footer-newsletter .btn {
  position: absolute;
  top: 8px;
  right: 10px;
  height: 44px;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 600;
  color: #092a49;
  background: none;
  border-radius: 2rem;
  border: 2px solid #092a49;
  transition: 0.3s;
}

.footer .footer-newsletter .btn:hover {
  background-color: #092a49;
  color: #9aacfb;
}

.footer-newsletter {
  margin-bottom: 20px;
  padding: 0 15px;
  line-height: 25px;
  margin-right: 15%;
  margin-left: 10px;
}

.form {
  position: relative;
  width: 100%;
  display: block;
}

.footer input {
  height: 60px;
  border: 2px solid #1d2434;
  border-radius: 2rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ffffff;
}

@media (max-width: 950px) {
  .footer .container {
    flex-direction: column;
    padding: 20px 15px;
  }

  .footer-newsletter {
    padding: 0;
  }

  .footer .footer-newsletter .btn {
    top: 10px;
  }
}

.copyright {
  display: flex;
  background: #092a49;
  color: #767272;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #203f4b;
}

.copyright a {
  color: #eeeeee;
  text-decoration: none;
}

.copyright {
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
}

@media (max-width: 600px) {
  .copyright {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }
}