body {
  font-family: "Montserrat", serif;
  margin: 0;
  padding: 0;
}

/* .top-bar */
.top-bar {
  height: 28px;
  background-image: linear-gradient(to right, #0796fe, #092a49);
  position: relative;
  color: #f1fbff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.time {
  padding: 5px 15px;
  margin-left: 3em;
  border-left: 1px solid #f1fbff;
  border-right: 1px solid #f1fbff;
}

.num {
  padding: 5px 15px;
  border-left: 1px solid #f1fbff;
  border-right: 1px solid #f1fbff;
}

.social {
  margin-left: 44em;
  padding: 5px 13px;
}

#instagram {
  padding: 5px 15px;
  border-left: 1px solid #f1fbff;
  border-right: 1px solid #f1fbff;
}

#facebook:hover,
#instagram:hover,
#linkedin:hover {
  color: rgb(81, 160, 239);
}

#facebook,
#linkedin {
  padding: 5px 15px;
  border-left: 1px solid #f1fbff;
}

/* .navbar */
.navbar {
  overflow: hidden;
  position: sticky;
  background-color: #092a49;
  width: 100%;
  top: 0px;
}

.navbar ul {

  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  padding-left: 2rem;
}

.navbar li a {
  text-decoration: none;
  color: white;
  float: right;
  padding: 20px;
}

nav ul li a:hover {
  color: rgb(131, 77, 246);
}

nav ul li a.active {
  color: #0796fe;
}

/* main-container */

.main-container .box {
  display: flex;
  margin-left: 190px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.main-container .box .boxes {
  padding-top: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  border: 1px solid white;
  padding-bottom: 0px;
  margin: 20px;
  text-align: center;
  width: 250px;
  height: 150px;
}

.main-container .box .boxes:hover {
  border: 1px solid rgb(219, 212, 212);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
}

.main-container .our-feature {
  margin-left: 190px;
  margin-right: 150px;
  display: flex;
}

.main-container .our-feature .text .icons {
  display: flex;
}

.main-container .our-feature .text .icons .icon i {
  color: #0796fe;
  font-size: 17px;
}

.main-container .our-feature .text .icons .icon {
  padding-right: 10px;
}

.main-container .our-feature .text .icons .icon p {
  margin-left: 15px;
  margin-right: 15px;
  font-weight: 500;
}

.main-container .our-feature .text .icons .icon #user {
  padding-right: 10px;
}

.main-container .our-feature .text .icons .icon #users {
  padding-right: 10px;
}

.main-container .our-feature .text .icons .icon #check {
  padding-right: 10px;
}

.main-container .our-feature .text .icons .icon #running {
  padding-right: 10px;
}

.main-container .our-feature img {
  margin: 20px;
  height: 350px;
  z-index: 1;
  border: 30px solid;
  border-image: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 0.5%, rgba(0, 0, 0, 0.1) 0.5%, rgba(0, 0, 0, 0.1) 1%) 30;
}

.main-container .our-feature .text {
  width: 500px;
}

.main-container .our-feature .text p {
  line-height: 20px;
}

.main-container .our-feature .text h2::before {
  content: "";
  position: absolute;
  border-bottom: 20px solid;
  border-image: repeating-linear-gradient(60deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 1.5%, rgba(0, 0, 0, 0.1) 1.5%, rgba(0, 0, 0, 0.1) 3%) 30;
  width: 150px;
  height: 0;
  bottom: 130px;

}

.main-container .consult {
  margin-left: 210px;
  margin-top: 50px;
}

.main-container .consult h2::before {
  content: "";
  position: absolute;
  border-bottom: 20px solid;
  border-image: repeating-linear-gradient(60deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 1.5%, rgba(0, 0, 0, 0.1) 1.5%, rgba(0, 0, 0, 0.1) 3%) 30;
  width: 150px;
  height: 0;
  top: 1040px;

}

.main-container .consult .row {
  display: flex;
  margin: 20px;
}

.main-container .consult .row .service {
  border: 1px solid rgb(219, 212, 212);
  padding-top: 15px;
  padding-bottom: 0px;
  margin-left: 20px;
  margin-bottom: 50px;
  text-align: center;
  width: 250px;
  height: 300px;
}

.main-container .consult .row .service .txt {
  padding: 15px;
}

.main-container .consult .row .service:hover {
  background-color: #ebf7ff;
  box-shadow: 0 0 30px rgba(74, 9, 9, 0.1);
  border: #ebf7ff;
}

.main-container .view a {
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgb(147, 146, 146);
  color: rgb(84, 82, 82);
  border-radius: 5px;
  padding: 10px;
}

.main-container .view {
  margin-left: 210px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.main-container .view a:hover {
  background-color: #767272;
  color: #ebf7ff;
}

.main-container .client {
  margin-left: 210px;
  margin-right: 150px;
}

.main-container .client h2::before {
  content: "";
  position: absolute;
  border-bottom: 20px solid;
  border-image: repeating-linear-gradient(60deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 1.5%, rgba(0, 0, 0, 0.1) 1.5%, rgba(0, 0, 0, 0.1) 3%) 30;
  width: 150px;
  height: 0;
  top: 1575px;

}

.main-container .client .arrow {
  display: flex;
  margin-left: 500px;
  font-size: 25px;
  color: #0796fe;
}

.main-container .client .arrow i {
  margin-left: 40px;
  margin-bottom: 50px;
}

.main-container .client .arrow i:hover {
  color: #1d2434;
  cursor: pointer;
}

.main-container .client .company {
  margin-left: 28px;
}

.main-container .client .company img {
  width: 115px;
  height: 115px;
  padding: 20px;
}

/* footer-part */
.fab {
  margin-right: 15px;
  font-size: 18px;
  color: #eeeeee;
}

.container {
  display: flex;
  background: #092a49;
  color: #ffffff;
  padding-top: 80px;
  width: 100%;
}

.footer-contact {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 255px;
}

.footer .container .footer-contact h2::after {
  position: absolute;
  content: "";
  width: 70px;
  height: 2px;
  bottom: 79%;
  left: 44.5%;
  background: #0796fe;
}

.footer-social i:hover {
  color: #0796fe;
}

.footer-contact p {
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
  line-height: 25px;
}

.footer .footer-contact p i {
  width: 25px;
  font-weight: 900;
  line-height: 1;
}

.gap {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.form {
  position: relative;
  width: 100%;
  display: block;
}

.footer input {
  height: 60px;
  border: 2px solid #1d2434;
  border-radius: 2rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ffffff;
}

.footer .container .footer-newsletter h2::after {
  position: absolute;
  content: "";
  width: 70px;
  height: 2px;
  top: 1983px;
  left: 60%;
  background: #0796fe;
}

.footer .footer-newsletter .btn {
  position: absolute;
  top: 8px;
  right: 10px;
  height: 44px;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 600;
  color: #092a49;
  background: none;
  border-radius: 2rem;
  border: 2px solid #092a49;
  transition: 0.3s;
}

.footer .footer-newsletter .btn:hover {
  background-color: #092a49;
  color: #9aacfb;
}

.footer-newsletter {
  /* text-align: left; */
  margin-bottom: 20px;
  padding-right: 205px;
  line-height: 25px;
  width: 2000px;

}

.copyright {
  display: flex;
  background: #092a49;
  color: #767272;
  justify-content: space-between; /* Space between items */
  align-items: center; /* Vertically center items */
  padding: 10px; /* General padding around the container */
  border-top: 1px solid #203f4b;
}


.copyright a {
  color: #eeeeee;
  text-decoration: none;
}

.copyright {
  display: flex;
  justify-content: space-around;
  padding: 0 20px; /* Add padding on the sides */
}
@media (max-width: 600px) {
  .copyright {
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: center; /* Center items */
    padding: 10px 0; /* Adjust padding */
  }
}



