body{
  font-family: "Montserrat", serif;
  margin: 0;
  padding: 0;
}
/* .top-bar */
.top-bar {
  height: 28px;
  background-image: linear-gradient(to right, #0796fe, #092a49);
  position: relative;
  color: #f1fbff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.time {
  padding: 5px 15px;
  margin-left: 3em;
  border-left: 1px solid #f1fbff;
  border-right: 1px solid #f1fbff;
}

.num {
  padding: 5px 15px;
  border-left: 1px solid #f1fbff;
  border-right: 1px solid #f1fbff;
}

.social {
  margin-left: auto; 
  padding: 5px 13px;
}
#instagram {
  padding: 5px 15px;
  border-left: 1px solid #f1fbff;
  border-right: 1px solid #f1fbff;
}

#facebook:hover,
#instagram:hover,
#linkedin:hover {
  color: rgb(81, 160, 239);
}

#facebook,
#linkedin {
  padding: 5px 15px;
  border-left: 1px solid #f1fbff;
}

/* Hide the top bar on smaller screens */
@media (max-width: 900px) {
  .top-bar {
    display: none; /* Hide the top bar */
  }
}
/* .navbar */
.navbar{
  overflow: hidden;
  position: sticky;
  background-color: #092a49;
  width: 100%;
  top: 0px;
}
.navbar ul {
  
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: flex-end;
 padding-left: 2rem;
}
.navbar li a {
  text-decoration: none;
  color: white;
  float: right;
  padding: 20px;
}
nav ul li a:hover {
  color: rgb(131, 77, 246);
}
nav ul li a.active{
  color: #0796fe;
}
/* Main section */
.main {
  margin: 0 auto 50px;
  max-width: 1200px; 
}

.main h2, h3 {
  color: #092a49;
}

.main .heading {
  text-align: center; 
  text-align: left; 
  position: relative; 
}

.main .heading h2::before {
  content: "";
  position: absolute;
  border-bottom: 20px solid;
  border-image: repeating-linear-gradient(60deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 1.5%, rgba(0, 0, 0, 0.1) 1.5%, rgba(0, 0, 0, 0.1) 3%) 30;
  width: 150px;
  height: 0;
  top: 50px;
}

.main .detail .row {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
}

.main .detail .row .service {
  border: 1px solid rgb(219, 212, 212);
  padding: 15px; 
  margin: 10px; 
  text-align: center;
  width: 23%;
  box-sizing: border-box; 
}

.main .detail .row .service .img img {
  max-width: 100%; 
  height: auto; 
}

.main .detail .row .service:hover {
  background-color: #ebf7ff;
  box-shadow: 0 0 30px rgba(74, 9, 9, 0.1);
  border: #ebf7ff;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .main .detail .row .service {
      width: 90%; 
      margin: 10px auto; 
  }
}
@media (max-width: 1500px){
  .main .heading{
    margin: 25px;
  }
}

/* footer-part */
.fab {
  margin-right: 15px;
  font-size: 18px;
  color: #eeeeee;
}

.container {
  display: flex;
  background: #092a49;
  color: #ffffff;
  padding-top: 80px;
}

.footer-contact {
  position: relative;
  width: 100%;
  padding: 0 15px; 
  padding-left: 255px; 
}

.footer-social i:hover {
  color: #0796fe;
}

.footer .container .footer-contact h2 {
  position: relative; 
}

.footer-contact p {
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
  line-height: 25px;
}

.footer .footer-contact p i {
  width: 25px;
  font-weight: 900;
  line-height: 1;
}

/* Media Query for Responsiveness */
@media (max-width: 800px) {
  .footer-contact {
    padding-left: 15px; 
  }

  .footer-contact h2::after {
    width: 50px; 
  }

  .container {
    flex-direction: column; 
    padding-top: 40px; 
  }
} 
.gap {
  position: relative;
  width: 100%;
  padding: 0 15px; 
}

.footer .container .footer-newsletter h2 {
  position: relative; 
}
 
.footer .footer-newsletter .btn {
  position: absolute;
  top: 8px;
  right: 10px;
  height: 44px;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 600;
  color: #092a49;
  background: none;
  border-radius: 2rem;
  border: 2px solid #092a49;
  transition: 0.3s;
}
.footer .footer-newsletter .btn:hover {
  background-color: #092a49;
  color: #9aacfb;
}

.footer-newsletter {
  margin-bottom: 20px;
  padding: 0 15px; 
  line-height: 25px;
}

.form {
  position: relative;
  width: 100%;
  display: block;
}

.footer input {
  height: 60px;
  border: 2px solid #1d2434;
  border-radius: 2rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ffffff;
}
/* Media Query for Responsiveness */
@media (max-width: 768px) {
  .footer .container {
    flex-direction: column; 
    padding: 20px 15px; 
  }

  .footer-newsletter {
    padding: 0; 
  }

  .footer .footer-newsletter .btn {
    top: 10px; 
 }
}
.copyright {
  display: flex;
  background: #092a49;
  color: #767272;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px; 
  border-top: 1px solid #203f4b;
}


.copyright a {
  color: #eeeeee;
  text-decoration: none;
}

.copyright {
  display: flex;
  justify-content: space-around;
  padding: 0 20px; 
}
@media (max-width: 600px) {
  .copyright {
    flex-direction: column; 
    align-items: center; 
    padding: 10px 0; 
  }
}

